:root {
  --clr-primary: #314052;
  --clr-midtone: #5f7b9e;
  --clr-secondary: #7da3d1;
  --clr-dark: #494d52;
  --clr-light: #d3deeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Global */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&family=Kaushan+Script&display=swap');

body {
  font-family: 'Roboto', 'Lato', sans-serif;
}

p {
  line-height: 1.6;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 5px;
  border: 0;
  padding: 0.5em 1em;
}

.btn-primary {
  color: whitesmoke;
  background: #333;
  font-size: 1rem;
}

.btn-outline {
  display: block;
  width: fit-content;
  margin-top: 1em;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
  border: 5px solid var(--clr-light);
  color: var(--clr-light);
}

.btn-dark {
  border: 5px solid var(--clr-primary);
  border-radius: 5px;
  background: var(--clr-primary);
  color: var(--clr-light);
  padding: 0.5em 2em;
}

a {
  text-decoration: none;
  color: black;
}

.border-radius-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-radius-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button,
.user,
.modal-close,
.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
}

.main-promo,
.side-promo-item {
  margin: 1em;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  width: 80%;
  min-width: 360px;
  max-width: 980px;
}

/* Promo Section */

.promo {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.promo-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.promo-content div {
  margin-top: 2em;
}

.side-promo-item .promo-content div {
  margin-top: 1em;
}

.promo-content-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50%;
  width: 90%;
}

.promo-content-desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 52px;
  white-space: pre-wrap;
}

.promo-content-image {
  width: 50%;
  max-height: 50%;
  object-fit: contain;
}

.main-promo {
  padding: 1em;
  height: 400px;
  background-image: url('../../assets/main-promo-bg.jpg');
  background-size: cover;
}

.side-promo {
  display: flex;
  flex-direction: column;
}

.side-promo-item {
  padding: 1em;
  height: 350px;
}

.side-promo-item.first {
  background-image: url('../../assets/side-promo-bg-1.jpg');
  background-size: cover;
}

.side-promo-item.second {
  background-image: url('../../assets/side-promo-bg-2.jpg');
  background-size: cover;
}
/* Product Section */

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main h2 {
  text-align: center;
}

.hot-products,
.all-products {
  margin: 1em 0;
}

.slider-container {
  margin: 0 1em;
}

.slider-container li {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.slider-container button {
  z-index: 1;
}

.card {
  border-radius: 5px;
  height: 300px;
  min-width: 200px;
  max-width: 250px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.image-container {
  margin-top: 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}

.product-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.product-desc {
  margin: 0 1em;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-desc p:first-child {
  max-width: 168px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Services section */

.services {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  max-width: 250px;
}

.services-item h3 {
  color: var(--clr-midtone);
}

.services-item p {
  text-align: justify;
}

.services-img {
  height: 125px;
  object-fit: contain;
  margin-bottom: 1em;
}

/* Login section */

.login-container {
  display: flex;
  flex-direction: column;
}

.login-input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  padding-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.login-container .btn {
  margin: 0.5em;
}

.btn.sign-up {
  background: #eee;
}

@media (min-width: 706px) {
  .promo-content {
    flex-direction: row;
  }

  .promo-content div {
    margin-top: 0;
  }

  .side-promo-item .promo-content div {
    margin-top: 0;
  }

  .promo-content-image {
    max-height: 100%;
  }

  .promo-content-desc {
    align-items: stretch;
    text-align: initial;
    justify-content: center;
    height: 70%;
    width: 50%;
  }

  .promo-content-desc p {
    max-height: 77px;
  }

  .main-promo {
    padding: 2em;
  }

  .side-promo {
    flex-direction: row;
  }

  .side-promo-item {
    height: 300px;
    width: 100%;
  }

  .main h2 {
    text-align: left;
    margin-left: 1rem;
  }
}
