.nav {
  display: flex;
  align-items: center;
  height: 90px;
  background: var(--clr-primary);
  min-width: 360px;
}

.nav-container {
  margin: 0 auto;
  width: 80%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-utils {
  display: flex;
  align-items: center;
}

.logo {
  font-size: xx-large;
  font-family: 'Kaushan Script', cursive;
  color: var(--clr-light);
}

.search-bar {
  border-radius: 5px;
  border: 0;
  padding: 1em;
  height: 40px;
  width: 80%;
}

.search-bar-mobile {
  display: flex;
  height: 60px;
  background: #5f7b9e;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

.search-bar-mobile div {
  width: 80%;
}

.search-bar-desktop {
  display: none;
}

.cart {
  color: var(--clr-light);
  font-size: 30px !important;
  margin-right: 1rem;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  margin-right: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
  color: var(--clr-light);
}

@media (min-width: 706px) {
  .search-bar {
    margin: 0;
    width: 100%;
  }

  .search-bar-desktop {
    display: block;
    flex-grow: 1;
    padding: 0 1.5em;
  }

  .search-bar-mobile {
    display: none;
  }
}
