.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-container {
  padding: 1em;
  position: relative;
  background: white;
  border-radius: 5px;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5rem;
}
