.item-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.item-content {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 360px;
  max-width: 980px;
  justify-content: space-between;
}

.item-img-container {
  height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.item-img {
  height: 100%;
  object-fit: contain;
}

.item-content-desc > button {
  margin: 1em 0;
  padding: 1em;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  border: 0;
  border-radius: 5px;
  width: fit-content;
}

.item-content-desc > p:last-child {
  text-align: justify;
}

@media (min-width: 706px) {
  .item-content {
    flex-direction: row;
  }

  .item-img-container {
    margin-right: 1em;
  }
}
