.item-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.item-content {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 360px;
  max-width: 980px;
  justify-content: left;
}

.item-img-container {
  height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.item-img {
  height: 100%;
  object-fit: contain;
}

.item-content-desc {
  margin-top: 1em;
  width: 80%;
}

.item-content-desc h3 {
  font-weight: 900;
  color: var(--clr-primary);
  font-size: 1.25rem;
}

.item-content-desc > button {
  margin: 1em 0;
  padding: 1em;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  border: 0;
  border-radius: 5px;
  width: fit-content;
  font-weight: bolder;
  transition: background 100ms ease-in;
}

.item-content-desc > p:last-child {
  text-align: justify;
  color: rgba(0, 0, 0, 0.9);
}

.modal-message {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

#add-to-cart {
  margin-bottom: 2em;
}

/* animation */

.item-content-desc > button:hover {
  background: var(--clr-midtone);
}

.item-content-desc > button:disabled {
  cursor: default;
  background: #bbb;
}

@media (min-width: 706px) {
  .item-content {
    flex-direction: row;
  }

  .item-img-container {
    margin-right: 1em;
  }

  .item-content-desc {
    margin-top: 0;
    width: 100%;
  }
}
