.products-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 360px;
}

.products-content {
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  max-width: 980px;
}

.products-content-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
}

.products-content-title p {
  margin-right: 1em;
}

.products-content-sort {
  display: flex;
  justify-content: space-between;
}

.products-content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.content-fill {
  width: 202px;
}

@media (min-width: 706px) {
  .products-content-title {
    flex-direction: row;
  }
}
