.sign-up-container {
  min-width: 350px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-up-content {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 720px;
}

.sign-up-input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
