.sign-up {
  width: 100%;
}

.sign-up-container {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sign-up-input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
